body
{
	background-color: #fff;
	margin:1px auto;
	
	font-family:verdana;
	front-size: 16px;

}


#header
{
float:centre;
margin:0px auto;
height: 350px; 
width:1200px;
border-radius:10 px;
background-image : url(pic.jpg);
}
#footer
{
background-color:#e6bffa;
font-size:28px;
font-family:Monotype Corsiva;
height :60px; 
width:1200px;
border-radius:10 px;
margin:0px auto;
clear:both;
}

#navbar ul
{
padding:2px;
text-align: right;
background-color: #000000;
margin:0px auto;
width:1196px;
height: 35px; 
border-radius:10px;
}

#navbar ul li
{
display: inline;
}

#navbar ul li a
{
text-decoration :none;
front-family:Arial;
color:#fff;
padding: .2em 1em;
font-size:24px;
}

#navbar ul li a:hover
{
color: #000;
background-color:#fff;
}

h1
{
font-size: 64px;
color: #091586;
margin:0px;
}

body
{
background-color: #302f30;
font-size: 20px;
margin:20 px auto;

}

.image
{
float: left;
margin-right:10px;
margin-left:10px;
border:2px;

}

.image1
{
float: right;
margin-right:10px;
margin-left:10px;
border:px;
}
#high
{
background-color:#3c51ab;
}

#main
{
font-family:calibri;
color: #39031f;
background-color:#f3e5f5;
width:1140px;
padding: 10px;
margin:20px auto;
border-radius:30px;
}